body { 
    margin:0;
    padding:0;
    font-family: sans-serif; 
}

.coefficient {
    font-size: 8pt;
    width: 30pt;
    height: 10pt;
    padding-left: 4pt;
    background: white;
    padding-top: 2pt;
}

table
{
    clear: left;
    border-collapse:collapse;
}

table, td, th
{
    border:1px solid black;
}

#theForm {
    width: 650px;
}

#theForm  div {
    height: 25px;
    position:relative;
}

#theForm label, #equalSign {
    display:inline-block;
    position: absolute;
    bottom: 0;
    width: 25px;
    text-align: right;
}

#theForm  input,#product {
    float: right;
    width: 580px;
}

