<!DOCTYPE html>

<html ng-app lang="en">
<head>
    <meta charset="utf-8" />
    <title>TypeScript HTML App</title>
    <link rel="stylesheet" href="app.css" type="text/css" />
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body ng-controller="multiplier">


<form id="theForm">
    <fieldset>
        <div>
            <input  ng-model="m0" type=text name=m0 id=m0>
        </div>
            
        <div>
            <input  ng-model="m1" type=text name=m1 id=m1>
            <label for="m1">X</label>
        </div>
        <hr>
        <div>
            <span id="product">{{finalResult}}</span>
            <span id="equalSign">=</span>
        </div>

    </fieldset>
</form>

<table >
    <tbody>
    <tr>
    <td ng-repeat="label in columnLabels">{{label}}</td>
    </tr>
    </tbody>

    <tbody>
    <tr ng-repeat="r in t0.coefficients">
    <td ng-repeat="c in r" class="coefficient">{{c.toString()}}</td>
    </tr>
    </tbody>

    <tbody>
    <tr ng-repeat="r in t1.coefficients">
    <td ng-repeat="c in r" class="coefficient">{{c.toString()}}</td>
    </tr>
    </tbody>

    <tbody>
    <tr ng-repeat="r in product.coefficients">
    <td ng-repeat="c in r" class="coefficient">{{c.toString()}}</td>
    </tr>
    </tbody>

    <tbody>
    <tr>
    <td ng-repeat="n in scaled" class="coefficient">{{n  | number:2 }}</td>
    </tr>
    </tbody>

    <tbody>
    <tr>
    <td ng-repeat="n in result" class="coefficient">{{n  | number:0 }}</td>
    </tr>
    </tbody>

</table>


</body>
</html>
