<!DOCTYPE html>

<html ng-app lang="en">
<head>
    <meta charset="utf-8" />
    <title>TypeScript HTML App</title>
    <link rel="stylesheet" href="app.css" type="text/css" />
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body ng-controller="multiplier">

<input ng-model="m0"></input>
<input ng-model="m1"></input>

<table >
    <tr ng-repeat="r in t0.coefficients">
    <td ng-repeat="c in r" class="coefficient">{{c.toString()}}</td>
    </tr>
</table>

</body>
</html>
